<h2>Welcome, {{ user.username }}!</h2>

<h3>Your Courses</h3>
<button onclick="join_new_course()">Join a Course</button>

{% if enrollments %}
<ul>
    {% for enrollment in enrollments %}
    <li>
        {% with course=enrollment.course %}
        {{ course.title }}

        {% if course.id in active_sessions %}
        <button onclick="join_course('{{ course.join_code }}')">Join</button>
        {% endif %}
        {% endwith %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You are not enrolled in any courses yet.</p>
{% endif %}


<script>
    function join_new_course() {
        window.location.href = "{% url 'join_course' %}";
    }

    function join_course(code) {
        window.location.href = `/thoughtswap/${code}/`;
    }

</script>