<h2>Teacher Dashboard</h2>

<h3>My Courses</h3>
<ul>
    {% for course in courses %}
    <li>
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="course_id" value="{{ course.id }}">
            <input type="hidden" name="course_session_id" value="{{ course.latest_session.id }}">
            <a href="{% url 'active_room' course.join_code %}">
                {{ course.title }}
            </a> {{ course.latest_session.state }} : {{ course.join_code }}
            <label for="state-a">a</label>
            <input type="radio" name="session_state" id="state-a" value="a" {% if course.latest_session.state == "a" %}checked{% endif %}>
            <label for="state-i">i</label>
            <input type="radio" name="session_state" id="state-i" value="i" {% if course.latest_session.state == "i" %}checked{% endif %}>
            <label for="state-d">d</label>
            <input type="radio" name="session_state" id="state-d" value="d" {% if course.latest_session.state == "d" %}checked{% endif %}>
            <button type="submit">Submit</button>
        </form>
    </li>
    {% endfor %}
</ul>
